// Colours from project
$lightBgc: rgb(244, 243, 243);
$headerBgc: rgb(207, 205, 205);
$darkBlue: rgb(14, 11, 72);
$shadowInput: rgb(161, 160, 160);
$arrow: rgb(134, 129, 129);
$arrowHover: rgb(247, 164, 11);