.course-popup {
    display: flex;
    flex-direction: column;

    &_form {
        display: flex;
        flex-direction: column;
    }

    &_form-row {
        display: flex;
    }

    &_input {
        display: flex;
        flex-grow: 1;
    }
}